
/*-------------------Modal-Button Conguration------------------------*/
.configuration .btn-configuration{
  cursor: pointer;
  animation: rotation-infinity-inverse 5s linear infinite;
  transition: all 2s ease-in-out;
  transform: scale(1);
}

.configuration .btn-configuration-active{
  animation: rotation-scale-infinity-inverse 5s linear infinite;
}

.configuration .modal-configuration {
  right: 15%;
  
}

.modal-configuration .title-configuration{
  background: radial-gradient(circle, rgba(19, 9, 44, 0.842), rgba(38, 11, 102, 0.897), rgba(65, 19, 173, 0.842), rgba(38, 11, 102, 0.829), rgba(19, 9, 44, 0.856));
}

.modal-configuration .title-configuration span{
  animation: rotation-infinity-inverse 5s linear infinite;
}


/*---------------Configuration-Content------------------------*/

.modal-configuration .configuration-content{
  display: flex;
  width: 100%;
  height: 90%;
  justify-content: center;
  gap: 1vmax;
  font-size: max(1.5rem, min(2vmax, 5rem));
  padding: 0.5vmax;
  -webkit-text-stroke: 0.05vmax rgb(143, 112, 143);
  color: white;
}

/*---------------Configuration container-control-Sound------------------------*/
.configuration-content .control-sound-container{
  height: 70%;
  width: 90%;
  display: grid;
  grid-template-areas:  "name-music name-sounds"
                        "range-music range-sounds"
                        "volume-music volume-sounds";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  place-items: center;
  border-radius: 0.7vmax;
  background-image: linear-gradient(rgba(30, 28, 34, 0.76), rgba(38, 11, 102, 0.753), rgba(65, 19, 173, 0.767), rgba(38, 11, 102, 0.753), rgba(19, 9, 44, 0.76));
  box-shadow: -12px 8px 19px rgba(0, 0, 0, 0.562);
  color: white;
  padding: 0.2vmax 0;
}

.control-sound-container .name-audio{
  text-transform: uppercase;
  font-size: max(1rem, min(1.7vmax, 3rem));
}


.control-sound-container .name-music{
  grid-area: name-music;
}

.control-sound-container .name-sounds{
  grid-area: name-sounds;
}

.control-sound-container .container-range{
  display: flex;
  justify-content: center;
  align-items: space-between;
  transform: rotate(-90deg);
}

.control-sound-container .range-music{
  grid-area: range-music;
}

.control-sound-container .range-sounds{
  grid-area: range-sounds;
}

.control-sound-container .number-volume{
  text-transform: uppercase;
  font-family: 'Chakra Petch', sans-serif;
  font-size: max(1.5rem, min(1.5vmax, 5rem));
}

.control-sound-container .volume-music{
  grid-area: volume-music;
}

.control-sound-container .volume-sounds{
  grid-area: volume-sounds;
}


/* Estilos generales para los controles deslizantes */
input[type="range"] {
  width: 100%;
  height: 10px;
  margin: 5px 0;
  background-color: #ddd;
  border-radius: 5px;
  outline: none;
}

/* Estilo del riel del control deslizante Chrome */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.7vmax;
  background: linear-gradient(to left, rgb(29, 4, 29), rgb(95, 18, 95), rgb(29, 4, 29));
  border-radius: 2vmax;
}

/* Estilo del control deslizante en sí */
input[type="range"]::-webkit-slider-thumb {
  width: 1.5vmax;
  height: 2vmax;
  background: var(--color-summary);
  border: none;
  border-radius: 0.5vmax;
  cursor: pointer;
  margin-top: -2.5%;
}


/* Estilo del control deslizante en Firefox */
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 1.1vmax;
  background: linear-gradient(to left, rgb(29, 4, 29), rgb(95, 18, 95), rgb(29, 4, 29));
  border-radius: 2vmax;
}

input[type="range"]::-moz-range-thumb {
  width: 1.5vmax;
  height: 2vmax;
  background: var(--color-summary);
  border: none;
  border-radius: 0.5vmax;
  cursor: pointer;
}

.configuration-content .btn-restart-record{
  width: 90%;
  height: 10%;
  cursor: pointer;
  border-radius: 0.5vmax;
  box-shadow: -12px 8px 19px rgba(0, 0, 0, 0.562);
  border: none;
  background: var(--background-summary);
  font-size: 1.8vmax;
  transition: all 0.3s ease-in-out;
}

.configuration-content .btn-restart-record:hover{
  background: var(--background-startGame-hover);
  color:white;
}

.configuration-content .btn-restart-record:active{
  background: radial-gradient(circle, rgba(19, 9, 44, 0.842), rgba(38, 11, 102, 0.897), rgba(65, 19, 173, 0.842), rgba(38, 11, 102, 0.829), rgba(19, 9, 44, 0.856));
  color:white;
  transform: scale(1.1);
}

.configuration-content .container-btn-record{
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: center;
  gap: 1vmax;
}
.container-btn-record .btn-confirm-yes,
.container-btn-record .btn-confirm-no{
  width: 50%;
  height: 100%;
  font-size: 1.6vmax;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 0.2vmax;
  opacity: 0.8;
  transition: all 0.5ms ease-in-out;
}

.container-btn-record .btn-confirm-yes:hover,
.container-btn-record .btn-confirm-no:hover{
  opacity: 1;
}

.container-btn-record .btn-confirm-yes:active,
.container-btn-record .btn-confirm-no:active{
  opacity: 1;
  transform: scale(1.1);
}



.container-btn-record .btn-confirm-yes{
  background-image: var( --gradient-blue-transp);
}

.container-btn-record .btn-confirm-no{
  background-image: var( --gradient-red-transp);
}

