/*-------------------General Section-------------------------*/
.start-game{
  align-self: center;
  justify-self: center;
  width: 95%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2vw;
  margin-top: 1.5vw;
  margin-bottom: 1vw;
 }

 /*-------------------Section: Button Start-Game----------------*/

.start-game .btn-start-game{
  border: none;
  width: 45vw;
  max-width: 70rem;
  height: 14vw;
  max-height: 13rem;
  display: flex;
  justify-content: center;
  gap: 5vw;
  align-items: center;
  background-image: var(--background-summary);
  border-radius: 2vw;
  font-weight: bold;
  font-size: max(1.5rem, min(6vw, 6rem));
  color: rgb(10, 6, 6);
  cursor: pointer;
  -webkit-text-stroke: 0.05vw rgb(240, 204, 2);
  box-shadow: 0 0 7px rgba(255, 255, 0, 0.5);
  transition: all 100ms ease-in-out;
}

.start-game .btn-start-game:hover{
  background-image: var(--background-startGame-hover);
  transform: scale(1.1);
  color: white;
}

.start-game .btn-start-game:active{
  background-image: var(--button-color-active);
  box-shadow: 0px 0px 2px 1px #88d63b;
  color: black;
  transform: scale(1.2);
}

.btn-start-game a{
  color: white;
}

.btn-start-game a:active{
  color: black;
}



/*----------Sword styles of Button Start Game-----*/

.sword-container {
  position: relative;
  width: 20%;
}

.sword-container .sword {
  position: absolute;
  width: 80%;
  top: 50%;
  transform: translateY(-50%) rotate(-42deg);
  transition: all 0.5s ease-in-out;
}

.sword-container .sword1 {
  left: 40%;
}

.sword-container .sword2 {
  left: 70%;
}

.btn-start-game:hover .sword1 {
  transform: translateY(-57%) translateX(0%) rotate(10deg) scale(1.5);
}

.btn-start-game:hover .sword2 {
  transform: translateY(-50%) translateX(-20%) rotate(-95deg) scale(1.5);
}



/*-------------------Area Record vs Pc-------------------------*/

.record-vs-pc{
  display: flex;
  gap: 1.5vw;
  width: 50vw;
}

 .record-vs-pc .record-statement{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 70rem;
  height: 14vw;
  max-height: 13rem;
  gap: 1vw;
  background-image: linear-gradient(var(--x), #00ccff, #0e1538, #0e1538, #d400d4);
  border-radius: 1vw;
  font-size: max(1.5rem, min(6vw, 6rem));
  color: white;
  box-shadow: 4px 0 10px rgba(255, 0, 242, 0.5);
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.record-vs-pc .record-statement:hover{
  transform: scale(1.1);
  transition: all 300ms ease-in-out;
}

.record-statement .recordG{
  text-align: center;
  color: rgb(255, 244, 244);
  font-size: 5vw;
}

.record-statement .record{
  padding: 1vw;
  font-size: 4vw;
  font-size: max(1rem, min(7vw, 5rem));
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  box-shadow: 1px -11px 24px rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 50%;

}

.record-statement .record strong{
  font-size: 5vw;
}

.record-statement .victorys:hover{
  background: var(--victory-color-hover);
}

.record-statement .loses:hover{
  background: var(--loses-color-hover);
}

.victorys .victorys-span,
.loses .loses-span{
  transition: all 650ms ease-in-out;
}

.record-statement .victorys:hover .victorys-span,
.record-statement .loses:hover .loses-span {
  transform: scale(1.2);
}

.victorys .victorys-strong,
.loses .loses-strong{
  transition: all 800ms ease-in-out;
}

.record-statement .victorys:hover .victorys-strong,
.record-statement .loses:hover .loses-strong {
  transform: scale(1.2);
}


/*-------------------Media queries-------------------------*/

@media (min-width: 700px) {
 
  /*---Start Game---*/
  .start-game{
  grid-area:startGame;
  display: grid;
  grid-template-areas:
          "btnStartGame"
          "record";
  grid-template-rows: 40% 55%;
  place-content: center;
  place-items: center;
  gap: 2vw;
  margin-top: 0vw;
  margin-bottom: 0.5vw;
  height: 95%;
  width: 95%;
  }

  .start-game .link-btn-start-game{
    grid-area: btnStartGame;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: center;
  }

  .start-game .btn-start-game{
    width: 100%;
    height: 90%;
    border-radius: 1vw;
    padding: 0.5vw;
  }
  

/*---Record Area---*/
  .start-game .record-vs-pc{
    grid-area: record;
    place-content: center;
    place-items: center;
  }


  .record-vs-pc .record-statement{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    height: auto;
    max-height: 20vw;
    width: 80%;
  }

  .record-statement .recordG{
    grid-column: span 2;
    grid-row: 1 / 2;
  }

  .record-statement .record{
    grid-row: 2 / 3;
    transition: all 650ms ease-in-out;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 86%;
    padding: 0;
  }

  .record-statement .record span{
    grid-column: span 2;
    font-size: 5vw;
  }

  .record-statement .record strong{
    grid-column: span 1;
    font-size: 7vw;
  }

  .record-statement .record:hover{
    width: 100%;
  }

 .record-statement .loses{
    justify-self: flex-end;
  }

  .record-statement .loses span{
    justify-self: flex-end;
  }

  .record-statement .loses strong{
    justify-self: flex-end;
  }

}


/*-------------MEDIA QUERIES----------------*/

@media (min-width: 700px) and (max-width: 950px){
  .start-game .record-vs-pc{
    height: 80%;
    align-self: flex-start;
  }

  .record-vs-pc .record-statement{
    max-height: 40vw;
    height: 100%;
  }

  .record-statement .record span{
    font-size: 8vw;
  }

  .record-statement .record strong{
    font-size: 10vw;
  }
}
