/*-----------------------General Styles------------------*/

.battle-history {
  position: absolute;
  top: 13%;
  left: 0;
  width: 32vmax;
  height: 72vmin;
  transition: all 500ms ease-in-out;
   z-index: 6;
   display: flex;
}

/*-----------------------History Tab Styles------------------*/
.battle-history .history_tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: var(--main-color);
  cursor: pointer;
  font-size: max(1rem, min(1.2vmax, 1.5rem));
  border-radius: 0 10px 10px 0;
  width: 5%;
  box-shadow: 0 0 7px rgba(255, 255, 0, 0.5);
  transition: all 1.5s ease-in-out;
}

.battle-history .history_tab div{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-family: 'Chakra Petch', sans-serif;
}

.battle-history .history_tab div span{
  font-family: 'Chakra Petch', sans-serif;
}

.history_tab .visible-tab{
  font-size: max(1rem, min(2.5vmax, 3rem));
  font-weight: bold;
  color: white;
  transition: all 300ms ease-in-out;
}

/*------------------History Content Styles------------------------*/
.battle-history .history_content {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(165, 13, 33, 0.671), rgba(207, 111, 22, 0.671), rgba(255, 255, 0, 0.678), rgb(207, 112, 22, 0.671), rgba(165, 13, 33, 0.671));
  padding: 1vmax;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 95%;
  box-shadow: 0 0 7px rgba(255, 255, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.history_content .history_container-items{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1vmax;
}

/*------------------History-item Style---------------------------*/

.history_content .history_item{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: radial-gradient(circle at 95% -4%, var(--second-color) 0%, var(--main-color) 15%, transparent 33%), radial-gradient(circle at 97% 65%, var(--second-color) 10%, var(--main-color) 25%, transparent 16%), radial-gradient(circle at 5% 40%, var(--second-color) 2%, var(--main-color) 20%, transparent 80%), radial-gradient(circle at 5% 99%, var(--second-color) 2%, var(--main-color) 20%, transparent 7%);
  box-shadow: 0 0 7px rgba(2, 2, 1, 0.5);
  border-radius: 1vmax;
}

.history_container-items .history_item img{
  width: 100%;
  height: 100%;
}


/*------------------Result and Character Style---------------------------*/

.history_item .result{
  width: 10%;
  height: 55%;
  transition: all 300ms ease-in-out;
}

.history_item .result:hover{
  transform: scale(1.3);
}

.history_item .character{
  position: relative;
  width: 17%;
  height: 92%;
}

.character .points-round{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.7vmax;
  height: 1.7vmax;
  font-size: 1.3vmax;
  font-weight: 500;
  top: 0;
  border-radius: 50%;
  box-shadow: 0 0 7px rgba(179, 176, 176, 0.5);
  transition: all 300ms ease-in-out;
}

.character .points-round:hover{
  transform: scale(1.3);
}

.character .points-round-player{
  left: -15%;
}

.character .points-round-com{
  right: -15%;
}

.character img{
  border: 0.2vmax solid rgb(168, 168, 168);
  border-radius: 50%;
}


/*------------------Container Center Style---------------------------*/

.history_item .container-center{
  display: grid;
  grid-template-areas:
          "play-player play-com"
          "rounds rounds";
  gap: 0.2vmax;
}

.history_item .play{
  position: relative;
  font-size: 1.6vmax;
  background: white; 
  border-radius: 50%;
  width: 2vmax;
  height: 2vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 7px rgba(3, 3, 3, 0.8);
}


.history_item .play-player{ 
  grid-area: play-player; 
  transform: rotate(-90deg) rotateX(180deg);
}


.history_item .play-com{
  grid-area: play-com;
  transform: rotate(-90deg);
}

.history_item .rounds{
  grid-area: rounds;
  justify-self: center;
  font-size: 1.5vmax;
}

.rounds strong{
  font-family: 'Chakra Petch', sans-serif;
}


/*-----------------------Special Class------------------*/

.visible {
  transform: translateX(-95%);
}


/*-----------------------Section Emojis RPS------------------- */

.emoji {
  cursor: pointer;
}

.emoji::before {
  content: attr(data-emoji);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) scale(1);
  opacity: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}


.emoji:hover::before {
  content: attr(data-emoji-hover);
  opacity: 1; 
  transform: rotate(90deg) translateY(-50%) translateX(-50%);
}


@keyframes translate-infinity {
  0% {
    transform: translateX(0%) scale(1.5);
  }

  50%{
    transform: translateX(50%) scale(1.8);
  }

  100% {
    transform: translateX(0%) scale(1.5);
  }
}
