/*-------General Configurations-----------*/



.play-battle-container{
  grid-area: playBattle;
  display: grid;
  grid-template-areas:
          "characterPlayer playPlayer interactiveUp playCom characterCom"
          "interactive interactive interactive interactive interactive";
  grid-template-rows: auto 8vmax;
  grid-template-columns: auto auto auto auto auto;
  gap: 0.7vmax;
  width: 100%;
}

/*-------------Area Character Configurations-------------*/

.play-battle-container .character{
  position: relative;
  height: auto;
  display: grid;
  place-items: center;
  align-items: center;
}

.play-battle-container .character img{
  width: 75%;
  height: 95%;
  border-radius: 1vmax;
}

.play-battle-container .character .background-rock{
  background: linear-gradient(var(--x), #f8fc0a, #0a0202, #1aa81a);
  border: 0.5vmax groove yellow;
  box-shadow: 0 0 20px rgba(255, 255, 0, 0.5);
}

.play-battle-container .character .background-paper{
  background: linear-gradient(var(--x), #7700ff, #0a0202, #d218f7);
  border: 0.5vmax groove rgb(134, 15, 202);
  box-shadow: 0 0 20px rgba(118, 5, 247, 0.5);
}

.play-battle-container .character .background-scissor{
  background: linear-gradient(var(--x), #ff002b, #0a0202, #800808);
  border: 0.5vmax groove rgb(255, 0, 0);
  box-shadow: 0 0 20px rgba(247, 5, 5, 0.5);
}


/*----Area Character-Player and Character-Com Configurations----*/

.play-battle-container .character-player{
  grid-area: characterPlayer;
  grid-template-columns: 20% 80%;
  justify-items: flex-end;
 }

.play-battle-container .character-com{
  grid-area: characterCom;
  grid-template-columns: 80% 20%;
  justify-items: flex-start;
}

.play-battle-container .character img{
  width: 93.76%;
}

.play-battle-container .character .bar-progress{
  height: 95%;
  width: 20%;
  background: rgb(45, 45, 219);
  background: linear-gradient( to left, #00ccff, #0e1538, #0e1538, #d400d4);
  display: flex;
  align-items: flex-end;
  border-radius: 0.5vmax;
  overflow: hidden;
}

.character .bar-progress .bar{
  border-radius: 0.5vmax;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  transition: all 1s ease-in-out;
}

.character .info-character{  
  position: absolute;
  top: 56%;
  width:72%;
  height: 40%;
  border-top: 0.2vmax solid white;
  border-radius: 0 0 0.5vmax 0.5vmax;
  background: var(--gradient-black-transp);
  transition: all 0.5s ease-in-out;
  opacity: 0;
  display: grid;
  grid-template-areas:  "title title title"
                        "powers powers powers"
                        "description description description";
  grid-template-rows: 20% 50% 30%;
  place-items: center;
}

.character .info-character:hover {
  opacity: 1;
}

.character .info-character-com{
  left: 37.5%;
  transform: translateX(-50%);
}

.character .info-character-player{
  right: 37.5%;
  transform: translateX(50%);
}

.info-character .title-info{  
  grid-area: title;
  font-size: 1.2vmax;
  text-transform: uppercase;
}

.info-character .container-power{  
  grid-area: powers;
  width: 100%;
  height: 100%;
  font-size: 2.3vmax;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.container-power .power{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: 'Chakra Petch', sans-serif;
} 

.container-power .powerRock{  
  background: var(--yellow-rock);
  color:rgb(23, 6, 70);
}

.container-power .powerPaper{  
  background: var(--purple-paper);
}

.container-power .powerScissor{  
  background: var(--red-scissor);
}

.info-character .description{  
  grid-area: description;
  width: 100%;
  display: flex;
  text-align: center;
  font-size: 1vmax;
}

/*-------------Area Play Configurations-------------*/

.play-battle-container .play{
  z-index: 1;
  justify-self: center;
  align-self: center;
  display: flex;
  width: 15vmax;
  height: 95%;
}

.play-battle-container .play img{
  border: 0.4vmax groove rgb(247, 0, 255);
  border-radius: 1vmax;
  box-shadow: 0 0 20px rgba(153, 0, 255, 0.5);
  width: 100%;
  height: 100%;
}

/*-----Area Play-Player and Play-Com Configurations--------*/

.play-battle-container .play-player{
  justify-content: flex-start;
}

.play-battle-container .play-com{
  justify-content: flex-end;
}



/*-------------Area Interactive-UP Configurations-------------*/

.play-battle-container .interactive-up{
  grid-area: interactiveUp;
  justify-self: center;
  width: 7vmax;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 700ms ease-in-out;
}

.play-battle-container .interactive-up span:nth-child(1){
  text-align: center;
  font-size: max(1.5rem, min(3vmax, 4.5rem));
}

.play-battle-container .interactive-up span:nth-child(2){
  font-family: 'Chakra Petch', sans-serif;
  font-size: max(3rem, min(7vmax, 9.5rem));
  transition: all 0.5s ease-in-out;
}

.play-battle-container .interactive-up span:nth-child(2):hover{
  transform: scale(1.5);
}



/*-------------Area Interactive-Section Configurations-------------*/

.play-battle-container .interactive-section{
  position: relative;
  grid-area: interactive;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 1vmax;
  color:rgb(8, 4, 3);
  font-size: max(1rem, min(1.4vmax, 10rem));
  -webkit-text-stroke: 0.1vw rgb(233, 98, 20);
}


.interactive-section .text-interactive p{
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Russo One', sans-serif;
}

.interactive-section .frame-container img{
  width: 100%;
  height: 100%;
  display: block;
}

.frame-info .img-result-frame{
  width: 2.2vmax;
  height: 2.2vmax;
  background-image: linear-gradient(rgba(2, 2, 12, 0.74), rgba(7, 7, 58, 0.733));
  background: linear-gradient(to bottom, rgb(165, 13, 34), rgb(207, 112, 22), yellow, rgb(207, 112, 22), rgb(165, 13, 34));
  background: linear-gradient(to bottom, rgb(34, 5, 80), rgb(118, 36, 250), rgb(71, 13, 165), rgb(71, 13, 165), rgb(34, 5, 80),rgb(34, 5, 80));
  border-radius: 0.5rem;
  padding: 0.2vmax;
  box-shadow: 0 0 7px rgba(2, 2, 1, 0.5);
  animation: pulse-infinity-soft 2500ms linear infinite;
}

.interactive-section .frame-info img{
  width: 100%;
  height: 100%;
}

.interactive-section .frame-info{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 10% 80% 10%;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  width: 50vmax;
  gap: 1vmax;
}

.interactive-section .frame-info span{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.interactive-section .frame-info .pcom{
  font-family: 'Russo One', sans-serif;
  display: inline;
  color: rgb(109, 16, 39);
  -webkit-text-stroke: 0.1vw rgb(201, 11, 11);
}

.interactive-section .frame-info .pplayer{
  font-family: 'Russo One', sans-serif;
  display: inline;
  color: rgb(16, 109, 24);
  -webkit-text-stroke: 0.1vw rgb(52, 201, 11);
}


/*--------------Animations---------------------*/

@keyframes pulse-infinity-soft {
  0% {
    transform: scale(1.7);
  }

  50%{
    transform: scale(1.5);
  }

  100% {
    transform: scale(1.7);
  }
}



.text-power-special, .text-power-special-com{
  position: absolute;
  top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2vmax;
  height: 90%;
  font-size: 0.9vmax;
}

.text-power-special{
  left: 9%;
}

.text-power-special-com{
  right: 9%;
}

.word-power, .word-special, .word-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word-power span, .word-special span, .word-bar span{
  font-family: 'Chakra Petch', sans-serif;
  color: rgb(217, 188, 230);
  box-shadow: 0 0 30px rgb(195, 27, 236)
}



