/*-------General Configurations-----------*/



.play-battle-container{
  grid-area: playBattle;
  display: grid;
  grid-template-areas:
          "characterPlayer playPlayer interactiveUp playCom characterCom"
          "interactive interactive interactive interactive interactive";
  grid-template-rows: auto 8vmax;
  grid-template-columns: auto auto auto auto auto;
  gap: 0.7vmax;
  width: 100%;
}

/*-------------Area Character Configurations-------------*/

.play-battle-container .character{
  position: relative;
  height: auto;
  display: grid;
  place-items: center;
  align-items: center;
}

.play-battle-container .character img{
  width: 75%;
  height: 95%;
  border: 0.5vmax groove yellow;
  border-radius: 1vmax;
  box-shadow: 0 0 20px rgba(255, 255, 0, 0.5);
  background: rgba(14,21,56,0.50);
  background: linear-gradient(var(--x), #00ccff, #0e1538, #0e1538, #d400d4);
}


/*----Area Character-Player and Character-Com Configurations----*/

.play-battle-container .character-player{
  grid-area: characterPlayer;
  grid-template-columns: 20% 80%;
  justify-items: flex-end;
 }

.play-battle-container .character-com{
  grid-area: characterCom;
  grid-template-columns: 80% 20%;
  justify-items: flex-start;
}

.play-battle-container .character img{
  width: 93.76%;
}

.play-battle-container .character .bar-progress{
  height: 95%;
  width: 20%;
  background: rgb(45, 45, 219);
  background: linear-gradient( to left, #00ccff, #0e1538, #0e1538, #d400d4);
  display: flex;
  align-items: flex-end;
  border-radius: 0.5vmax;
  overflow: hidden;
}

.character .bar-progress .bar{
  border-radius: 0.5vmax;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  background: linear-gradient(to left, rgb(165, 13, 34), rgb(207, 112, 22), yellow, rgb(207, 112, 22), rgb(165, 13, 34));
  transition: height 1s ease-in-out;
}


/*-------------Area Play Configurations-------------*/

.play-battle-container .play{
  z-index: 1;
  justify-self: center;
  align-self: center;
  display: flex;
  width: 15vmax;
  height: 95%;
}

.play-battle-container .play img{
  border: 0.4vmax groove rgb(247, 0, 255);
  border-radius: 1vmax;
  box-shadow: 0 0 20px rgba(153, 0, 255, 0.5);
  width: 100%;
  height: 100%;
}

/*-----Area Play-Player and Play-Com Configurations--------*/

.play-battle-container .play-player{
  justify-content: flex-start;
}

.play-battle-container .play-com{
  justify-content: flex-end;
}



/*-------------Area Interactive-UP Configurations-------------*/

.play-battle-container .interactive-up{
  grid-area: interactiveUp;
  justify-self: center;
  width: 7vmax;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 700ms ease-in-out;
}

.play-battle-container .interactive-up span:nth-child(1){
  text-align: center;
  font-size: max(1.5rem, min(3vmax, 4rem));
}

.play-battle-container .interactive-up span:nth-child(2){
  font-family: 'Chakra Petch', sans-serif;
  font-size: max(3rem, min(7vmax, 8rem));
  transition: all 0.5s ease-in-out;
}

.play-battle-container .interactive-up span:nth-child(2):hover{
  transform: scale(1.5);
}



/*-------------Area Interactive-Section Configurations-------------*/

.play-battle-container .interactive-section{
  position: relative;
  grid-area: interactive;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 1vmax;
  color:rgb(8, 4, 3);
  font-size: max(1rem, min(1.4vmax, 10rem));
  -webkit-text-stroke: 0.1vw rgb(233, 98, 20);
}


.interactive-section .text-interactive p{
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Russo One', sans-serif;
}

.interactive-section .frame-container img{
  width: 100%;
  height: 100%;
  display: block;
}

.frame-info .img-result-frame{
  width: 2.2vmax;
  height: 2.2vmax;
  background-image: linear-gradient(rgba(2, 2, 12, 0.74), rgba(7, 7, 58, 0.733));
  background: linear-gradient(to bottom, rgb(165, 13, 34), rgb(207, 112, 22), yellow, rgb(207, 112, 22), rgb(165, 13, 34));
  background: linear-gradient(to bottom, rgb(34, 5, 80), rgb(118, 36, 250), rgb(71, 13, 165), rgb(71, 13, 165), rgb(34, 5, 80),rgb(34, 5, 80));
  border-radius: 0.5rem;
  /* border: 0.1vmax solid rgb(19, 16, 10); */
  padding: 0.2vmax;
  box-shadow: 0 0 7px rgba(2, 2, 1, 0.5);
  animation: pulse-infinity-soft 2500ms linear infinite;
}

.interactive-section .frame-info img{
  width: 100%;
  height: 100%;
}

.interactive-section .frame-info{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 10% 80% 10%;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  width: 50vmax;
  gap: 1vmax;
}

.interactive-section .frame-info span{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.interactive-section .frame-info .pcom{
  font-family: 'Russo One', sans-serif;
  display: inline;
  color: rgb(109, 16, 39);
  -webkit-text-stroke: 0.1vw rgb(201, 11, 11);
}

.interactive-section .frame-info .pplayer{
  font-family: 'Russo One', sans-serif;
  display: inline;
  color: rgb(16, 109, 24);
  -webkit-text-stroke: 0.1vw rgb(52, 201, 11);
}


/*--------------Animations---------------------*/

@keyframes pulse-infinity-soft {
  0% {
    transform: scale(1.7);
  }

  50%{
    transform: scale(1.5);
  }

  100% {
    transform: scale(1.7);
  }
}



