.title{
  width: 90%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 1vw;
  transition: all 0.5s ease-in-out;
}

.title:hover{
  transform: scale(1.1);
}

.title h1{
  width: 60%;
  -webkit-text-stroke: 0.1vw rgb(127, 33, 190);
  color: white;
  font-family: 'Chakra Petch', sans-serif;
}

.title div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  padding: 3%;
  overflow: hidden;
}

.title img{
  width: 65%;
  animation: rotation-infinity 5s linear infinite;
}

@keyframes rotation-infinity {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*-----------------------Media queries-------------------------------------*/
@media (min-width: 500px) and (max-width: 700px){
  .title img{
    width: 50%;
  }
}


@media (min-width: 700px) {
  .title{
    grid-template-columns: 2 / 3;
    grid-template-rows: 1 / 2;
    height: 100%;
    width: 100%;
  }

  .title div{
    width: 50%;
    max-width: 23rem;
  }

  .title img{
    width: 100%;
  }

}