/*-----------------------Global Section------------------- */

.header{
  grid-area: header;
  align-self: flex-start;
  background: var(--main-color);
  background: rgb(16, 6, 29);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: max(1.2rem, min(1vw, 5rem));
  padding: 1vw 2vw;
  position: relative; 
}

/*-----------------------Section Emojis RPS------------------- */

.emoji {
  cursor: pointer;
}

.emoji::before {
  content: attr(data-emoji);
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1);
  opacity: 1;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.emoji-rock::before {
  left: 70%;
}

.emoji-paper::before {
  left: 75%;
}

.emoji-scissor::before {
  left: 80%;
}

.emoji:hover::before {
  content: attr(data-emoji-hover);
  opacity: 1; 
  top: 50%;
  transform: translateY(-50%) scale(1.3);
}


/*-----------------------Section Configuration------------------- */


.configuration{
  cursor: pointer;
  animation: rotation-infinity-inverse 5s linear infinite;
  transition: all 2s ease-in-out;
  transform: scale(1);
}

@keyframes rotation-infinity-inverse {
  0% {
    transform: rotate(360deg) scale(1.5);
  }
  100% {
    transform: rotate(0deg) scale(1.5);
  }
}


/*-----------------Media-queries-----------------------*/

@media (min-width: 750px) {
  .header{
    font-size: max(1.5rem, min(1.5vw, 4rem));
  }

  .emoji-rock::before {
    left: 70%;
  }
  
  .emoji-paper::before {
    left: 72%;
  }
  
  .emoji-scissor::before {
    left: 74%;
  }
}