.configuration .btn-credits{
  transform:scale(1.5);
  cursor: pointer;
  animation: pulse-infinity 2s linear infinite;
  transition: all 2s ease-in-out;
}


.configuration .modal-credits {
  right: 90%;
  height: 37vmax;
  overflow: hidden;
  display: grid;
  grid-template-rows: 7% 1fr 8%;
  align-items: space-between;
}

.modal-credits .title-credits{
  background: radial-gradient(circle, rgba(19, 9, 44, 0.842), rgba(38, 11, 102, 0.897), rgba(65, 19, 173, 0.842), rgba(38, 11, 102, 0.829), rgba(19, 9, 44, 0.856));
}

.modal-credits .title-credits span{
  animation: pulse-infinity 2s linear infinite;
  transition: all 2s ease-in-out;
}

.modal-credits .container-sections{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.1vmax;
  background: linear-gradient(rgba(72, 35, 165, 0.842), rgba(85, 26, 224, 0.897), rgba(92, 28, 241, 0.842), rgba(85, 26, 224, 0.897), rgba(72, 35, 165, 0.842));
}


.container-sections button{
  border: none;
  height: 100%;
  font-size: 1.5vmax;
  background: linear-gradient(rgba(11, 5, 26, 0.815),rgba(25, 7, 66, 0.815), rgba(35, 10, 94, 0.829), rgba(25, 7, 66, 0.856), rgba(11, 5, 26, 0.849));
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5vmax;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.container-sections button:hover{
  background: linear-gradient(rgba(36, 17, 85, 0.842), rgba(55, 16, 145, 0.897), rgba(65, 19, 173, 0.842), rgba(55, 16, 145, 0.829), rgba(36, 16, 85, 0.856));
}

.container-sections button:active{
  background: linear-gradient(rgba(72, 35, 165, 0.842), rgba(85, 26, 224, 0.897), rgba(92, 28, 241, 0.842), rgba(85, 26, 224, 0.897), rgba(72, 35, 165, 0.842));
  transform: scale(1.1);
}

.credits-content{
  align-self: center;
}

.section-credits{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(36, 13, 56);
  padding: 0.7vmax;
  font-size: 1.4vmax;
}

.section-credits h3{
  margin: 0.5vmax;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 0.03vmax rgb(162, 149, 187);
  text-transform: uppercase;
}

.section-credits p{
  text-align: center;
  margin-bottom: 0.5vmax;
  text-shadow: 2px 2px 4px rgba(231, 255, 12, 0.5);
  background: rgba(255, 255, 0, 0.26);
  border-radius: 0.4vmax;
  box-shadow: 2px 2px 4px rgba(231, 255, 12, 0.575);
  
}

.section-credits img{
  width:60%;
  margin: 0.5vmax;
}

.section-credits .social{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.section-credits .social:hover{
  transform: scale(1.3);
}

.section-credits .year{
  font-size: 2.3vmax;
}


.section-credits a {
  text-align: center;
}

.section-credits a img{
  width:60%;
  margin: 0.5vmax;
}

.section-credits div{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

.credits-sounds .img-pixabay{
  display: inline-flex;
  width: 4vmax;
}

.credits-sounds a img{
  width: 120%;
}



.container-music{
  display: flex;
  justify-content: space-between;
}