.modal-preview{
  position: absolute;
  z-index:10;
  top: 45%;
  left: 50%;
  width: 120%;
  height: 120%;
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--main-color);
  background-image: radial-gradient(circle at 95% -4%, var(--second-color) 0%, var(--main-color) 15%, transparent 33%), radial-gradient(circle at 97% 65%, var(--second-color) 10%, var(--main-color) 25%, transparent 16%), radial-gradient(circle at 5% 40%, var(--second-color) 2%, var(--main-color) 20%, transparent 80%), radial-gradient(circle at 5% 99%, var(--second-color) 2%, var(--main-color) 20%, transparent 7%);
  color: white;
  padding: 7vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.modal-preview.show {
  opacity: 1;
  visibility: visible;
}

.modal-preview .frame-preview{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 90% 10%;
  width: 90%;
  height: 100%;
  border: 0.5vmax;
  border-image: var(--color-summary);
  border-image-slice: 1;
  border-style: solid;
  align-items: flex-end;
}

.modal-preview img{
  width: 100%;
}

.modal-preview .vs{
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 80% 20%;
}

.modal-preview .vs img{
  align-self: flex-end;
  animation: pulse-infinity 6s infinite;
}

.modal-preview .text-progress{
  align-self: flex-end;
  justify-self: center;
  font-size: 4vmax;
  text-shadow: 2px 2px 4px rgba(236, 236, 236, 0.46);
  background: var(--gradient-silver);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.modal-preview .player,
.modal-preview .com{
  grid-row: 1 / 2;
  width: 100%;
  height: 90%;
  padding: 0.7vmax;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.modal-preview .com{
  grid-column: 3 / 4;
}

.modal-preview .player{
  grid-column: 1 / 2;
}

.frame-preview .name{
  font-size: 4.2vmax;
  text-shadow: 2px 2px 4px rgba(236, 236, 236, 0.46);
  background: var(--gradient-silver);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.frame-preview .bar-charger-container{
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  width: 100%;
  height: 100%;
  background: var(--gradient-purple-transp);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar-charger-container .bar-charger{
  background: linear-gradient(#00ccff, #0e1538, #0e1538, #d400d4);
  width: 98%;
  height: 65%;
  border-radius: 5vmax;
  overflow: hidden;
}

.bar-charger .bar{
  background: var(--background-summary);
  height: 100%;
  border-radius: 5vmax;
  transition: all 300ms ease-in-out;
}

/*Animations*/
@keyframes pulse-infinity {
  0% {
    transform: scale(1.07);
  }

  50%{
    transform: scale(1);
  }

  100% {
    transform: scale(1.07);
  }
}

/*Media Queries*/
@media (min-width: 700px){
  .modal-preview{
    top: 50%;
  }
}




