.select-character{
  background: rgba(243, 243, 243, 0.137);
  align-self: center;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 95%;
  height: 39%;
  margin-bottom: 5%;
}

.select-character img{
  height: 100%;
  width: 100%;
}