/*-----------------------Global Section------------------- */

.select-character{
  background-image: var(--select-character);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  font-size: max(1.5rem, min(6vw, 3.5rem));
  padding: 0.5vw;
}

/*-----------------------Section: Select Character------------------- */
.select-character span:nth-child(1){
  font-weight: 300;
}

/*----------------------------card turn effect---------------------------*/

.select-character .character-img-container{
  width:97%;
  height: 100%;
  background: rgba(243, 243, 243, 0.137);
  perspective: 1000px;
  position: relative;
  overflow: hidden;
}

.select-character .character-img-container img{
  height: 100%;
  width: 100%;
  transition: all 300ms ease-in-out;
}

.character-img-container .front-image, 
.character-img-container .back-image{
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  opacity: 1;
}
/*----------------------------Section: front Image---------------------------*/
.character-img-container .front-image{
  background-image: url(../../../images/interfaz-images/purple-background.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 0.5vmax;
  border-image: var(--color-summary);
  border-image-slice: 1;
  border-style: solid;
  transform: rotateY(0deg);
  opacity: 1;
}

/*----------------------------Section: Back Image---------------------------*/

.character-img-container .back-image{
  background-image: url(../../../images/interfaz-images/reverse-card-purple.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 0.5vmax;
  border-image: var(--color-summary);
  border-image-slice: 1;
  border-style: solid;
  transform: rotateY(180deg);
  opacity: 0;
}

.back-image .inside-back-card{
  position:relative;
  width: 100%;
  height: 100%;
  color: var(--color-font-main);
}

          /*----------------Section: Back Image: title------------------*/
.inside-back-card .title-back-card{
  position: absolute;
  top: 28.5%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vmax;
  width: 100%;
}

.inside-back-card .title-back-card .text-of-type{
  font-family: 'Yellowtail', cursive;
  font-size: max(2rem, min(7vw, 4rem));
}

.title-back-card .face-character{
  border: 0.1vmax solid rgb(11, 9, 15);
  border-radius: 50%;
  width: 3.6vmax;
  min-width: 4.5rem;
  height: 3.6vmax;
  min-height: 4.5rem;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.title-back-card .face-character:hover{
  transform: scale(1.8);
}

.title-back-card .face-character img{
  width: 100%;
  height: 100%;
}

    /*----------------Section: Back Image: Descriptive Container------------------*/
.back-image .descriptive-container{
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 65%;
  transform: translateY(-50%);
  left: 0;
  height: 20%;

}

.descriptive-container .plays-for-game{
  display: flex;
  flex-direction: column;
  gap: 0.2vmax;
  border: none;
  font-size: max(1.5rem, min(1.1vw, 3rem));
  height: 100%;
  width: 10vmax;
}

.plays-for-game .title-plays{
  text-align: center;
  height: 25%;
}


.plays-for-game .type-one,
.plays-for-game .type-two,
.plays-for-game .type-three{
  padding: 1vmax;
  border-width: 0.2vmax;
  border-radius: 0.5vmax;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  gap: 1vmax;
  width: 100%;
  height: 30%;
  box-shadow: 4px 4px 8px rgba(105, 74, 134, 0.664);
  transition: all 0.2s ease-in-out;
}

.plays-for-game .type-one span:last-child,
.plays-for-game .type-two span:last-child,
.plays-for-game .type-three span:last-child{
  font-size: max(2rem, min(1.5vw, 3rem));
}

.plays-for-game .type-one:hover,
.plays-for-game .type-two:hover,
.plays-for-game .type-three:hover{
  transform: scale(1.3);
}


.plays-for-game .type-one img,
.plays-for-game .type-two img,
.plays-for-game .type-three img{
  width: 2vmax;
  height: 2vmax;
}


.back-image .img-element{
  margin-top: 2vmax;
  width: 30%;
  min-width: 8rem;
  border: 0.3vmax solid rgb(203, 196, 214);
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  place-items: center;
  transition: all 0.3s ease-in-out;
}

.back-image .img-element:hover{
  transform: scale(1.4);
}

.back-image .img-element img{
  width: 80%;
  height: 80%;
}

          /*----------------Section: Back Image: Text Description------------------*/

.back-image .text-description{
  position: absolute;
  text-align: center;
  top: 82%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  font-size: max(1.5rem, min(1.8vw, 2rem));
  width: 70%;
  color: var(--color-font-main);
}

/*----------------Transition Efect of the Section: Character-img-container------------------*/
.character-img-container:hover .front-image {
  transform: rotateY(-180deg);
  opacity: 0;
  
}

.character-img-container:hover .back-image {
  transform: rotateY(0deg);
  opacity: 1;
}

/*-----------------------Character-footer-------------------------------------*/
.select-character .character-footer{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.select-character .character-name{
  text-align: center;
  font-family: 'Yellowtail', cursive;
  transition: all 300ms ease-in-out;
}

.select-character .character-name:hover{
  color: yellow;
  transform: scale(1.2);
}
                      /*------button of character-footer----------*/

.select-character .character-footer button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: max(1.5rem, min(6vw, 4rem));
  font-weight: bold;
  color: white;
  transition: all 100ms ease-in-out;
}

.select-character .character-footer button:hover{
  color: yellow;
  transform: scale(1.2);
}

.select-character .character-footer button:active{
  color: orange;
  transform: scale(1.6);
}



/*-----------------------Media queries-------------------------------------*/
@media (min-width: 500px) and (max-width: 700px){
  .select-character{
    width: 75%;
  }
}

@media (min-width: 699px) {
   .select-character{
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    align-self: center;
    justify-content: center;
    height: 95%;
    margin-bottom:0;
  }

   .select-character .character-img-container{
    height: 100%;
  }
}

@media (min-width: 700px) and (max-width: 950px){
  
  .select-character{
    align-self: center;
    height: 80%;
    font-size: max(1.5rem, min(3vw, 3.5rem));
  }
}

@media (min-width: 700px){
  .select-character{
    grid-area:selectCharacter;
  }
}

@media (min-width: 950px){
  .select-character{
    width:75%;
    height: 100%;
  }
}