/*-----------------------Global Section------------------- */

.select-character{
  background-image: var(--select-character);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  font-size: max(1.5rem, min(6vw, 3.5rem));
  padding: 0.5vw;
}

/*-----------------------Section: Select Character------------------- */
.select-character span:nth-child(1){
  font-weight: 300;
}

/*----------------------------card turn effect---------------------------*/

.select-character .character-img-container{
  width:97%;
  height: 100%;
  background: rgba(243, 243, 243, 0.137);
  perspective: 1000px;
  position: relative;
  overflow: hidden;
}

.select-character .character-img-container img{
  height: 100%;
  width: 100%;
}

.character-img-container .front-image, 
.character-img-container .back-image{
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  opacity: 1;
}
/*----------------------------Section: front Image---------------------------*/
.character-img-container .front-image{
  background-image: url(../../../images/interfaz-images/purple-background.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 0.4vw solid rgb(132, 0, 255);
  transform: rotateY(0deg);
  opacity: 1;
}

/*----------------------------Section: Back Image---------------------------*/

.character-img-container .back-image{
  background-image: url(../../../images/interfaz-images/reverse-card-purple.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform: rotateY(180deg);
  opacity: 0;
}

.back-image .inside-back-card{
  position:relative;
  width: 100%;
  height: 100%;
}

          /*----------------Section: Back Image: title------------------*/
.inside-back-card .title-back-card{
  position: absolute;
  top: 28%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

.inside-back-card .title-back-card .text-of-type{
  font-family: 'Yellowtail', cursive;
  color: var(--color-font-main);
  font-size: max(2rem, min(7vw, 3.5rem));
}

          /*----------------Section: Back Image: Image Element------------------*/

.back-image .img-element{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  width: 25%;
  min-width: 8rem;
  height: 25%;
  border: 0.4vw groove var(--color-font-main);
  background-image: var(--color-element-rps);
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.back-image .img-element img{
  width: 80%;
  height: 80%;
}

          /*----------------Section: Back Image: Text Description------------------*/

.back-image .text-description{
  position: absolute;
  text-align: center;
  top: 82%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  font-size: max(1.5rem, min(1.8vw, 2rem));
  width: 70%;
  color: var(--color-font-main);
}

/*----------------Transition Efect of the Section: Character-img-container------------------*/
.character-img-container:hover .front-image {
  transform: rotateY(-180deg);
  opacity: 0;
  
}

.character-img-container:hover .back-image {
  transform: rotateY(0deg);
  opacity: 1;
}

/*-----------------------Character-footer-------------------------------------*/
.select-character .character-footer{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.select-character .character-name{
  text-align: center;
  font-family: 'Yellowtail', cursive;
  transition: all 300ms ease-in-out;
}

.select-character .character-name:hover{
  color: yellow;
  transform: scale(1.2);
}
                      /*------button of character-footer----------*/

.select-character .character-footer button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: max(1.5rem, min(6vw, 4rem));
  font-weight: bold;
  color: white;
  transition: all 100ms ease-in-out;
}

.select-character .character-footer button:hover{
  color: yellow;
  transform: scale(1.2);
}

.select-character .character-footer button:active{
  color: orange;
  transform: scale(1.6);
}



/*-----------------------Media queries-------------------------------------*/
@media (min-width: 500px) and (max-width: 700px){
  .select-character{
    width: 75%;
  }
}

@media (min-width: 699px) {
   .select-character{
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    align-self: center;
    justify-content: center;
    height: 100%;
    margin-bottom:0;
  }

   .select-character .character-img-container{
    height: 100%;
  }
}

@media (min-width: 700px) and (max-width: 950px){
  
  .select-character{
    align-self: center;
    height: 90%;
    font-size: max(1.5rem, min(3vw, 3.5rem));
  }
}