
/*---------------General Configurations----------------------------------------*/

.buttons-play-container{
  grid-area: play;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 2vmax;
  padding: 0 1vmax;
  margin-bottom: 0.5vmax;
}


/*---------------BUTTON General Configurations----------------------------------------*/

.buttons-play-container button,
.buttons-play-container a{
  position: relative;
  background: transparent;
  cursor: pointer;
  box-shadow: 2px 2px 5px black;
  transition: all 300ms ease-in-out;

  position: relative;
  width: 80%;
  height: 5vmax;
  border-radius: 1.7vmax;
  cursor: pointer;
}

/*---------------BUTTON I General Configurations----------------------------------------*/

.buttons-play-container .button-play i:nth-child(1){
  position: absolute;
  inset: -2px;
  display: block;
  border-radius: 1.7vmax;
  background: linear-gradient(var(--x), #00ccff, #0e1538, #0e1538, #d400d4);
}

.buttons-play-container .button-play i:nth-child(2){ 
  filter: blur(10px);
}

.buttons-play-container .button-play:active i {
  background: linear-gradient(var(--x), #fbff00, #e65614, #e65614, #d4000b);
}


/*---------------BUTTON SPAN General Configurations----------------------------------------*/

.buttons-play-container .button-play span{
  font-size: 3vmax;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vmax;
  color: #fff;
  letter-spacing: 3px;
  background: rgba(14,21,56,0.50);
  overflow: hidden;
  border-radius: 1.7vmax;
  text-transform: uppercase;
 
}

.buttons-play-container .button-play span p{
  font-size: 1vmax;
  font-family: 'Chakra Petch', sans-serif;
}

.buttons-play-container .button-play span .hand{
  font-size: 1.8vmax;
  animation: pulse-infinity 2s linear infinite;
  transition: all 2s ease-in-out; 
}

.buttons-play-container button span::before{
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255, 0.075);
  transform: skew(25deg);
}

.buttons-play-container .button-play span:active{
  background: var(--color-summary);
}


/*----------------------------------Specific Section Configurations------------------------------------*/

/*-----------------Section Buttons-play-------------------*/

.buttons-play-container .section-buttons-play{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.section-buttons-play .container-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5vmax;
}

.container-buttons .progress-bar-container-btns-play{
  width: 75%;
  height: 0.7vmax;
  display: flex;
  justify-content: center;
  gap: 0.2vmax;
  transition: all 500ms ease-in-out;
}

.progress-bar-container-btns-play .progress-bar-item{
  height: 100%;
  width: 14.28%;
  border-radius: 0.3vmax;
}

/*-----------------Section Buttons-play-special and Surrender-------------------*/
.buttons-play-container .container-button-play-special {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4vmax;
}

.buttons-play-container .button-special-play,
.buttons-play-container .surrender-play{
  justify-self: center;
  width: 90%;
  height: 7vmax;
}

.buttons-play-container .button-special-play span,
.buttons-play-container .surrender-play span{
  display: grid;
  place-items: center;
}

.buttons-play-container .button-special-play img
{
  width: 35%;
  animation: rotation-infinity 5s linear infinite;
}

.buttons-play-container .surrender-play img{
  width: 50%;
  animation: moverImagen 4s linear infinite;
}

.buttons-play-container .surrender-play{
  position: relative;
  z-index: 2;
}






/*---------------BUTTON DISABLED----------------------------------------*/

/*i*/

.buttons-play-container .button-disabled i:nth-child(1){
  position: absolute;
  inset: -2px;
  display: block;
  border-radius: 1.7vmax;
  background: linear-gradient(var(--x), #e2e3e4, #02040a, #04050e, #777777);
}

.buttons-play-container .button-disabled i:nth-child(2){ 
  filter: blur(10px);
}


/*Span*/
.buttons-play-container .button-disabled span{
  font-size: 3vmax;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vmax;
  color: #fff;
  letter-spacing: 3px;
  background: rgba(14,21,56,0.50);
  overflow: hidden;
  border-radius: 1.7vmax;
  text-transform: uppercase;
 
}

.buttons-play-container .button-disabled span p{
  font-size: 1vmax;
  font-family: 'Chakra Petch', sans-serif;
}

.buttons-play-container .button-disabled span .hand{
  font-size: 2.7vmax;
  transition: all 2s ease-in-out; 
}

.buttons-play-container .button-disabled span::before{
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255, 0.075);
  transform: skew(25deg);
}


/*-----------------Section Buttons-play-special and Surrender-------------------*/
.buttons-play-container .container-button-play-special {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4vmax;
}

.buttons-play-container .button-special-disabled,
.buttons-play-container .surrender-disabled{
  justify-self: center;
  width: 90%;
  height: 7vmax;
}

.buttons-play-container .button-special-disabled span,
.buttons-play-container .surrender-disabled span{
  display: grid;
  place-items: center;
}

.buttons-play-container .button-special-disabled img
{ width: 35%;}

.buttons-play-container .surrender-disabled img
{width: 50%;}

.buttons-play-container .surrender-disabled{
  position: relative;
  z-index: 2;
}

.buttons-play-container .gray-layer{
  position: absolute;
  top: 0;
  background: rgba(83, 77, 77, 0.42);
  border-radius: 1.7vmax;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease-in-out;
}

.buttons-play-container .gray-layer.show {
  opacity: 1;
  visibility: visible;
} 

.gray-layer .info-power-special,
.gray-layer .info-surrender{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-between;
  text-align: center;
  background: rgba(0, 0, 0, 0.699);
  border: 0.2vmax solid white;
  width: 150%;
  color: rgb(238, 235, 235);
  padding: 0.5vmax;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.gray-layer .info-power-special{
  top: -280%;
  left: -60%;
  height: 260%;
  border-radius: 1vmax 1vmax 0 1vmax;
}

.gray-layer .info-surrender{
  top: -170%;
  left: 15%;
  height: 150%;
  border-radius: 1vmax 1vmax 1vmax 0;
}

.info-power-special .title-info,
.info-surrender .title-info{
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.info-power-special .title-info > strong,
.info-surrender .title-info > strong{
  font-size: 2.4vmax;
}

.info-power-special p,
.info-surrender p{
  -webkit-text-stroke: 0.05vmax rgb(209, 176, 13);
  -webkit-text-stroke: 0.05vmax rgb(190, 185, 185);
  font-size: 1.2vmax;
}

.info-power-special p > strong{
  color: rgb(212, 144, 230);
  -webkit-text-stroke: 0.05vmax rgb(190, 185, 185);
}

.info-power-special li,
.info-surrender li{
  font-size: 1.2vmax;
  -webkit-text-stroke: 0.03vmax rgb(196, 165, 13);
  -webkit-text-stroke: 0.05vmax rgb(190, 185, 185);
  border-radius: 0.5vmax;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5vmax;
  padding: 0.2vmax;
}

.info-surrender li{
  background: var(--gradient-purple-transp);
  padding: 0.5vmax;
}

.info-power-special li:nth-child(1),
.info-power-special li:nth-child(2){
  background: var(--gradient-green-dark-transp);
}

.info-power-special li:nth-child(3){
  background: var(--gradient-red-transp);
}

.info-power-special li strong,
.info-surrender li strong{
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1.7vmax;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 0.05vmax rgb(209, 176, 13);
}

/*Gray Layer (Disabled*/
.gray-layer .support-base{
  position: absolute;
  top: -20%;
  width: 0;
  height: 0;
  border-right: 3vmax solid transparent;
  border-bottom: 3vmax solid rgba(19, 5, 5, 0.753);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.gray-layer .support-surrender{
  right: 65%;
  transform: rotateX(180deg);
}

.gray-layer .support-special{
  right: 10%;
  transform: rotateX(180deg) rotateY(180deg);
}

.gray-layer:hover .info-power-special,
.gray-layer:hover .info-surrender,
.gray-layer:hover .support-base{
  visibility: visible;
  opacity: 1;
}

.gray-layer:not(:hover) .info-power-special:hover,
.gray-layer:not(:hover) .info-surrender:hover,
.gray-layer:not(:hover) .support-base:hover {
  visibility: hidden;
  opacity: 0;
}


/*Available*/
.buttons-play-container .available{
  position: absolute;
  font-family: 'Chakra Petch', sans-serif;
  top: -27%;
  left: 50%;
  border-radius: 0.2vmax;
  font-size: 1vmax;
  transform: translateX(-50%);
  background: #00d4475d;
  color: white;
  width: 60%;
  opacity: 0;
  visibility: hidden;
  transition: all 800ms ease-in-out;
}

.buttons-play-container .available.show{
  opacity: 1;
  visibility: visible;
}


/*-------------Animation: Buttons---------------*/

@keyframes moverImagen {
  0% {
    transform: skew(0deg) scale(1);
  }
  50% {
    transform: skew(7deg) scale(1.1);
  }

  100% {
    transform: skew(0deg) scale(1);
  }
}


