
/*---------------General Configurations----------------------------------------*/

.buttons-play-container{
  grid-area: play;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 2vmax;
  padding: 0 1vmax;
  margin-bottom: 0.5vmax;
}


/*---------------BUTTON General Configurations----------------------------------------*/

.buttons-play-container button,
.buttons-play-container a{
  background: transparent;
  cursor: pointer;
  box-shadow: 2px 2px 5px black;
  transition: all 300ms ease-in-out;

  position: relative;
  width: 80%;
  height: 5vmax;
  border-radius: 1.7vmax;
  cursor: pointer;
}

/*---------------BUTTON I General Configurations----------------------------------------*/

.buttons-play-container button i{
  position: absolute;
  inset: -2px;
  display: block;
  border-radius: 1.7vmax;
  background: linear-gradient(var(--x), #00ccff, #0e1538, #0e1538, #d400d4);
}

.buttons-play-container button i:nth-child(2){
  filter: blur(10px);
}

.buttons-play-container button:active i{
  background: linear-gradient(var(--x), #fbff00, #e65614, #e65614, #d4000b);
}


/*---------------BUTTON SPAN General Configurations----------------------------------------*/

.buttons-play-container button span{
  font-size: 4vmax;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  letter-spacing: 3px;
  background: rgba(14,21,56,0.50);
  overflow: hidden;
  border-radius: 1.7vmax;
}

.buttons-play-container button span::before{
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255, 0.075);
  transform: skew(25deg);
}

.buttons-play-container button span:active{
  background: var(--color-summary);
}


/*----------------------------------Specific Section Configurations------------------------------------*/

/*-----------------Section Buttons-play-------------------*/

.buttons-play-container .section-buttons-play{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.section-buttons-play .container-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5vmax;
}

.container-buttons .progress-bar-container-btns-play{
  width: 75%;
  height: 0.7vmax;
  display: flex;
  justify-content: center;
  gap: 0.2vmax;
  transition: all 500ms ease-in-out;
}

.progress-bar-container-btns-play .progress-bar-item{
  height: 100%;
  width: 14.28%;
  border-radius: 0.3vmax;
}

/*-----------------Section Buttons-play-special and Surrender-------------------*/
.buttons-play-container .container-button-play-special {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4vmax;
}

.buttons-play-container .button-play-special,
.buttons-play-container .surrender{
  justify-self: center;
  width: 90%;
  height: 6.5vmax;
}

.buttons-play-container .button-play-special span,
.buttons-play-container .surrender span{
  display: grid;
  place-items: center;
}

.buttons-play-container .button-play-special img
{
  width: 35%;
  animation: rotation-infinity 5s linear infinite;
}

.buttons-play-container .surrender img{
  width: 50%;
  animation: moverImagen 4s linear infinite;
}

.buttons-play-container .surrender{
  position: relative;
  z-index: 2;
}

/*-------------Animation: Buttons---------------*/

@keyframes moverImagen {
  0% {
    transform: skew(0deg) scale(1);
  }
  50% {
    transform: skew(7deg) scale(1.1);
  }

  100% {
    transform: skew(0deg) scale(1);
  }
}


