/*------------General----------------------------*/

.footer{
  grid-area: footer;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 0.5vw 1vw;
  width: 100%;
  height: auto;
  margin-top: 0.5vw;
}

/*------------Credits----------------------------*/
.footer .title-game{
  display: none;
}

/*------------Social Media----------------------------*/

.footer .social-media-container{
  display: flex;
  gap: 1.5vw;
}

.footer .social-media-container .social-media{
  background-image: var(--select-character);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 2.5vw;
  max-width: 5rem;
  height: 2.5vw;
  max-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: max (1rem, min(2.3vw, 3rem));
  transition: all 100ms ease-in-out;
}

.footer .social-media-container .social-media:hover{
  background-image: var(--button-color);
  transform: scale(1.2);
}


.footer .social-media-container .social-media:active{
  background-image: var(--button-color-active);
  transform: scale(1.2);
  color: black;
}

.social-media a{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*The Brand section is located in the "app.css" file because it is a shared section between the header and the footer.*/

/*------------Media Queries----------------------------*/
@media (min-width: 700px) {
  .footer .title-game{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vmax;
    -webkit-text-stroke: 0.1vw rgb(127, 33, 190);
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1.3vmax;
    max-width: 30%;
    transition: all 300ms ease-in-out;
  }

  .footer .title-game:hover{
    transform:scale(1.2);
  }

  .footer .title-game img{
    width: 7%;
    animation: rotation-infinity 5s linear infinite;
  }


  .footer .social-media-container .social-media{
    width: 2vw;
    max-width: 5rem;
    height: 2vw;
    max-height: 5rem;
    font-size: max(1.5rem, min(1.5vw, 4rem));
  }
}

@media (max-width: 700px) {
  .footer{
    display: none;
  }
}