/*------------General----------------------------*/

.footer{
  grid-area: footer;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 0.5vw 1vw;
  width: 100%;
  height: auto;
}

/*------------Credits----------------------------*/
.footer .credits{
  display: none;
}

/*------------Social Media----------------------------*/

.footer .social-media-container{
  display: flex;
  gap: 1.5vw;
}

.footer .social-media-container .social-media{
  background-image: var(--select-character);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 4vw;
  max-width: 5rem;
  height: 4vw;
  max-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: max(1rem, min(2.5vw, 3rem));
  transition: all 100ms ease-in-out;
}

.footer .social-media-container .social-media:hover{
  background-image: var(--button-color);
  transform: scale(1.2);
}

.footer .social-media-container .social-media:active{
  background-image: var(--button-color-active);
  transform: scale(1.2);
  color: black;
}

/*The Brand section is located in the "app.css" file because it is a shared section between the header and the footer.*/

/*------------Media Queries----------------------------*/
@media (min-width: 700px) {
  .footer .credits{
    display: flex;
    color: rgb(117, 103, 139);
    font-size: max(1rem, min(1.4vw, 2rem));
  }

  .footer .credits:hover{
    cursor: pointer;
    color: yellow;
  }

  .footer .social-media-container .social-media{
    width: 2vw;
    max-width: 5rem;
    height: 2vw;
    max-height: 5rem;
    font-size: max(1.5rem, min(1.5vw, 4rem));
  }
}