
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 5vw;
  width: 100%;
  height: 9%;
}

.footer .social-media-container{
  display: flex;
  gap: 1.5vw;
}

.footer .social-media-container .social-media{
  background: rgba(243, 243, 243, 0.137);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 6vw;
  height: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 3.8vw;
  transition: all 100ms ease-in-out;
}

.footer .social-media-container .social-media:hover{
  background-image: var(--button-color);
  transform: scale(1.2);
}

.footer .social-media-container .social-media:active{
  background-image: var(--button-color-active);
  transform: scale(1.2);
}

/*The Brand section is located in the "app.css" file because it is a shared section between the header and the footer.*/


/*@media (min-width: 800px) {}*/