
/*---------------Generals Elements----------------------------------------*/
h1{
  font-size: max(4rem, min(8vw, 8rem));
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

a{
  text-decoration: none;
}

/*---------------Effects----------------------------------------*/

.rotate-screen {
  transform: rotate(90deg);
  width: 100vh;
  height: 100vw;
}

/*---------------Main Pages----------------------------------------*/

.welcome-page{
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.7vw;
  width: 100%;
  height: 100%;
}

.combat-page{
  grid-area: main;
  position: relative;
  display: grid;
  grid-template-areas:
          "summary summary summary"
          "playBattle playBattle playBattle"
          "play play play";
  grid-template-rows: auto 1fr auto;
  gap: 1vw;
  padding: max(1rem, min(0.8vw, 3rem));
  justify-items: center;
  width: 100%;
  height: 100%;
}

/*---------------Brand----------------------------------------*/

.brand{
  display: inline-flex;
  position: relative;
  font-family: 'Orbitron', sans-serif;
  font-size: max(1.2rem, min(1vw, 5rem));
  transition: all 1000ms ease-in-out;
  cursor: pointer;
  user-select: none;
}

.brand:hover{
  transform: rotate3d(0, 1, 0, 360deg) scale(1.1);
}


/*-------Media queries-----------------------------*/

@media (min-width: 700px) {
  .welcome-page{
    width: 95%;
    height: 95%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    place-items: center;
  }
}

@media (min-width: 750px) {
  .brand{
    font-size: max(1.5rem, min(1.5vw, 4rem));
  }
}