@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@1&family=Mukta:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

:root{
  --main-color: rgb(2 2 26);
  --second-color: rgb(53 53 109);
  --color-element-rps: linear-gradient(to right, rgb(48, 13, 105), rgb(255, 0, 242));
  --color-font-main: rgb(211, 208, 185);
  --button-color2: linear-gradient(to right, rgb(155, 140, 197), rgb(182, 159, 247) );
  --button-color-active: linear-gradient(to right, #88d63b, #d4f324); 
  --button-color: linear-gradient(to right, rgb(165, 13, 34), rgb(207, 112, 22));
  --victory-color: linear-gradient(to right, rgb(13, 165, 33), rgb(20, 100, 20));
  --loses-color: linear-gradient(to right, rgb(194, 21, 35), rgb(71, 13, 13));
  --section-loses-hover: linear-gradient(to right, rgb(10, 4, 4), rgb(48, 45, 45));
  --button-select-character: linear-gradient(to right, rgb(21, 76, 194), rgb(18, 24, 85));
  --select-character: linear-gradient(to right, rgb(44, 14, 44), rgb(73, 30, 141));
  --section-record: linear-gradient(to right, yellow, rgb(165, 139, 21));
}

h1{
  font-size: max(4rem, min(8vw, 8rem));
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.main-zone{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
  width: 98%;
  height: 87%;
}

.brand{
  display: inline-flex;
  position: relative;
  font-family: 'Orbitron', sans-serif;
  font-size: max(1.5rem, min(3vw, 3rem));
  transition: all 1000ms ease-in-out;
  cursor: pointer;
  user-select: none;
}

.brand:hover{
  transform: rotate3d(0, 1, 0, 360deg) scale(1.1);
}

@media (min-width: 700px) {
  .main-zone{
    width: 90%;
    height: 90%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    place-items: center;
  }
}