



/*---------------Generals Elements----------------------------------------*/
h1{
  font-size: max(3rem, min(7vw, 8rem));
}

a{
  text-decoration: none;
}


/*---------------Main Pages----------------------------------------*/
.container-welcome{
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  place-items: center;
  grid-template-areas:
          "header header header"
          "main main main"
          "footer footer footer";
  grid-template-rows: auto 1fr auto;
}

.welcome-page{
  position: relative;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.7vw;
  width: 100%;
  height: 100%;
}


.container-combat{
  min-height: 100vmin;
  min-width: 100vmax;
  display: grid;
  grid-template-areas:
          "header header header"
          "main main main"
          "footer footer footer";
  grid-template-rows: auto 1fr auto;
}

.combat-page{
  grid-area: main;
  position: relative;
  display: grid;
  grid-template-areas:
          "summary summary summary"
          "playBattle playBattle playBattle"
          "play play play";
  grid-template-rows: auto auto auto;
  gap: 1vmax;
  padding: max(1rem, min(0.8vmax, 3rem));
  justify-items: center;
  width: 100%;
  height: 100%;
 }

/*---------------Brand----------------------------------------*/

.brand{
  display: inline-flex;
  position: relative;
  font-family: 'Orbitron', sans-serif;
  font-size: max(1.2rem, min(1vmax, 5rem));
  transition: all 1000ms ease-in-out;
  cursor: pointer;
  user-select: none;
}

.brand:hover{
  transform: rotate3d(0, 1, 0, 360deg) scale(1.1);
}

/*---------------special class---------------------*/

.horizontal-layout{
  transform: rotate(90deg);
  transform-origin: center center;
}

/*-------Media queries-----------------------------*/

@media (min-width: 700px) {
  .welcome-page{
    width: 95%;
    height: 95%;
    display:grid;
    grid-template-areas:
          "selectCharacter title"
          "selectCharacter startGame";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
  }
}

@media (min-width: 750px) {
  .brand{
    font-size: max(1.5rem, min(1.5vmax, 4rem));
  }
}


/*----effect-transition-with-React---*/


/*Effect with opacity*/

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}



/*effect with scale*/

.scale-enter {
  transform: scale(1);
}

.scale-enter-active {
  transform: scale(1.3);
  text-shadow: 2px 2px 4px rgba(226, 199, 45, 0.658);
  background: var(--gradient-yellow);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.scale-exit {
  transform: scale(1.3);
}

.scale-exit-active {
  transform: scale(1);
}



/*effect with the characters*/

/*Forward*/

.character-slider-forward-enter {
  transform: translateX(-100%);
  opacity: 0;
}

.character-slider-forward-enter-active {
  transform: translateX(-100%);
  opacity: 1;
  transition: all 200ms ease-in-out;
}

.character-slider-forward-exit {
  transform: translateX(100%);
  opacity: 1;
}

.character-slider-forward-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: all 200ms ease-in-out;
}

/*Back*/

.character-slider-back-enter {
  transform: translateX(100%);
  opacity: 0;
}

.character-slider-back-enter-active {
  transform: translateX(100%);
  opacity: 1;
  transition: all 200ms ease-in-out;
}

.character-slider-back-exit {
  transform: translateX(-100%);
  opacity: 1;
}

.character-slider-back-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms ease-in-out;
}






/*effect with the points of Summary*/

/*UP*/

.point-slider-up-enter {
  transform: translateY(100%);
  opacity: 0;
}

.point-slider-up-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: color 300ms ease-in-out, opacity 300ms ease-in-out, transform 200ms ease-in-out;
}

.point-slider-up-exit {
  transform: translateY(0);
  opacity: 1;
}

.point-slider-up-exit-active {
  transform: translateY(-100%);
  opacity: 0;
  transition: color 300ms ease-in-out, opacity 300ms ease-in-out, transform 200ms ease-in-out;
}


/*DOWN*/

.point-slider-down-enter {
  transform: translateY(-100%);
  opacity: 0;
}

.point-slider-down-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: color 300ms ease-in-out, 300ms ease-in-out, transform 200ms ease-in-out;
}

.point-slider-down-exit {
  transform: translateY(0);
  opacity: 1;
}

.point-slider-down-exit-active {
  transform: translateY(100%);
  opacity: 0;
  transition: color 300ms ease-in-out, opacity 300ms ease-in-out, transform 200ms ease-in-out;
}
