:root{
  --main-color: rgb(2 2 26);
  --second-color: rgb(53 53 109);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  user-select: none;
}

html{
  font-size: 62.5%;
}

body{
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--main-color);
  background-image: radial-gradient(circle at 95% -4%, var(--second-color) 0%, var(--main-color) 15%, transparent 33%), radial-gradient(circle at 97% 65%, var(--second-color) 10%, var(--main-color) 25%, transparent 16%), radial-gradient(circle at 5% 40%, var(--second-color) 2%, var(--main-color) 20%, transparent 80%), radial-gradient(circle at 5% 99%, var(--second-color) 2%, var(--main-color) 20%, transparent 7%);
  color: white;
}


#root{
  min-height: 100vh;
  min-width: 100vw;
  
  display: grid;
  grid-template-areas:
          "header header header"
          "main main main"
          "footer footer footer";
  grid-template-rows: auto 1fr auto;
  place-items: center;
  }
