
/*-----------Fonts Imports----------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@1&family=Mukta:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap');


/*----------Variables Root--------------------------------*/

:root{
  /*-------Colors----------------*/
  --main-color: rgb(2 2 26);
  --second-color: rgb(53 53 109);
  --color-font-main: rgb(211, 208, 185);
  --button-color-active: linear-gradient(to right, #88d63b, #d4f324); 
  --button-color: linear-gradient(to right, rgb(165, 13, 34), rgb(207, 112, 22));
  --background-summary: linear-gradient(to bottom, rgb(165, 13, 34), rgb(207, 112, 22), yellow, rgb(207, 112, 22), rgb(165, 13, 34));
  --victory-color-hover: linear-gradient(to right, rgba(46, 235, 93, 0.438), rgba(57, 139, 57, 0.438));
  --loses-color-hover: linear-gradient(to right, rgba(255, 16, 16, 0.63), rgba(121, 2, 2, 0.596));
  --select-character: linear-gradient(to right, rgb(44, 14, 44), rgb(73, 30, 141));
  --section-record: linear-gradient(to right, yellow, rgb(165, 139, 21));
  --background-history: linear-gradient(to right, rgb(50, 196, 135), rgb(34, 153, 143));
  --color-element-rps: radial-gradient(circle, rgb(245, 30, 180) 20% , rgb(104, 8, 160) 70%);
  --color-summary: linear-gradient(45deg, rgb(165, 13, 34), rgb(207, 112, 22), yellow, rgb(207, 112, 22), rgb(165, 13, 34));
  --background-startGame-hover: linear-gradient(to bottom, yellow, rgb(207, 112, 22), rgb(165, 13, 34), rgb(207, 112, 22),yellow);

  --gradient-yellow: linear-gradient(rgb(102, 104, 7), rgb(189, 192, 15), rgb(248, 252, 20), rgb(189, 192, 15), rgb(102, 104, 7));
  --gradient-red: linear-gradient(rgb(100, 5, 5), rgb(201, 19, 19), rgb(247, 18, 18), rgb(201, 19, 19), rgb(100, 5, 5));
  --gradient-green: linear-gradient(rgb(19, 119, 10),rgb(32, 187, 18), rgb(35, 235, 17), rgb(32, 187, 18), rgb(19, 119, 10));
  
  /*-------Effects----------------*/
  --x: 45deg;
}


/*----------Generals Styles--------------------------*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  user-select: none;
}

html{
  font-size: 62.5%;
}

body{
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--main-color);
  background-image: radial-gradient(circle at 95% -4%, var(--second-color) 0%, var(--main-color) 15%, transparent 33%), radial-gradient(circle at 97% 65%, var(--second-color) 10%, var(--main-color) 25%, transparent 16%), radial-gradient(circle at 5% 40%, var(--second-color) 2%, var(--main-color) 20%, transparent 80%), radial-gradient(circle at 5% 99%, var(--second-color) 2%, var(--main-color) 20%, transparent 7%);
  color: white;
}


/*----------Styles Container Main: Root--------------------------------*/

#root{
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---------------------styles scrollBar Google Chrome--------------*/
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background-color: var(--main-color);
}

::-webkit-scrollbar-thumb {
  background-image: var(--background-summary);
  border-radius: 50%;
}