.modal-final{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-image: radial-gradient(circle, rgba(19, 9, 44, 0.842), rgba(38, 11, 102, 0.897), rgba(65, 19, 173, 0.842), rgba(38, 11, 102, 0.829), rgba(19, 9, 44, 0.856));;
  border-radius: 0.7vmax;
  box-shadow: -12px 8px 19px black;
  color: white;
  width: 45vmax;
  height: 45vmax;
  padding: 0.7vmax;
  padding-bottom: 2vmax;
  font-size: max(1.5rem, min(1.7vmax, 5rem));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal-final .img-winner{
  width: 80%;
  height: 80%;
}

.modal-final .img-winner img{
  width: 100%;
  height: 100%;
}

.modal-final .container-buttons{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3vw;
}

.modal-final .container-buttons a{
  display: flex;
  justify-content: center;
  width: 25%;
  padding: 0.5vmax 0.5vmax;
  background-image: var(--background-startGame-hover);
  border-radius: 0.5vmax;
  color: white;
  transition: all 0.3s ease-in-out;
}

.modal-final .container-buttons a:hover{
  background-image: var(--background-summary);
  color: black;
  transform: scale(1.2);
}

.modal-final .container-buttons a:active{
  background-image: linear-gradient(rgba(70, 4, 4, 0.842), rgba(161, 14, 14, 0.897), rgba(221, 19, 19, 0.842), rgba(161, 14, 14, 0.897), rgba(70, 4, 4, 0.842));
  color: white;
  transform: scale(1.5);
}